    .bos-liste{
        text-align: center;
        margin-top: 50% !important;
        ion-icon{
            font-size: 10vh;
            opacity:.5;
        }
    }

    ion-select{
        max-width: 80% !important;
    }
